@import '../assets/style/commonStyle';

html {
    scroll-behavior: smooth;
}

.forebyggeSykefravaer {
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color: @backgroundColorGrey;
        padding: 4.125rem 0;
        position: relative;
    }

    &__content {
        background-color: @backgroundColorGrey;
        display: flex;
        flex-direction: column;
    }

    @media (min-width: @mobilbreakpoint) {
        &__content {
            padding: 0 1rem;
            flex-direction: row;
        }
    }
}
