@import "../assets/style/commonStyle";

html {
  scroll-behavior: smooth;
}

.forebyggeSykefravaer {
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: @backgroundColorGrey;
    padding: 4.125rem 0;
  }

  &__content {
    background-color: @backgroundColorGrey;
    display: flex;
  }
}
