@import "../../assets/style/commonStyle";

.meny {
  position: fixed;
  top: 6rem;
  right: 0;
  left: 0;

  &__wrapper {
    position: relative;
  }

  &__container {
    z-index: 1000;
    background-color: white;
    max-width: 16.5rem;
    max-height: 19.625rem;
    border-radius: 4px;
    box-shadow: @componentShadow;
    position: absolute;
    right: 0.75rem;
    transition: ease-in-out 0.4s;
    transform: scale(1);
    opacity: 1;

    &--closed {
      transform: scale(0);
      opacity: 0;
    }
  }

  .menubutton {
    position: absolute;
    right: 3.5%;
    top: 0;
    z-index: 1001;
  }

  &__content {
    padding: 1rem;
    max-width: 75%;
  }

  &__lenke {
    padding-top: 0.75rem;

    &--bold {
      font-weight: 600;
    }

    .lenke {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (min-width: 768px) {
    &__container {
      position: sticky;
      top: 7rem;

      &--closed {
        transform: scale(1);
        opacity: 1;
      }
    }

    &__content {
      max-width: unset;
    }
  }
}
