.meny {
  background-color: white;
  max-width: 16.5rem;
  max-height: 19.625rem;
  border-radius: 4px;
  position: sticky;
  top: 7rem;

  &__content {
    padding: 1rem;
  }

  &__lenke {
    padding-top: 0.75rem;

    &--bold {
      font-weight: 600;
    }

    .lenke {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
