.banner {
  height: 12.3125rem;
  background-color: #d0e0f1;

  &__wrapper {
    padding: 0 1rem;
    width: inherit;
    height: calc(100% - 8px);
    display: flex;
    justify-content: center;
  }

  &__tekst {
    display: flex;
    align-items: center;
  }

  &__image {
    height: calc(100% - 8px);
  }

  &__bunnlinje {
    background-color: #a2c1e4;
    min-height: 0.5rem;
    width: 100%;
    z-index: 100;
  }
}
