@import '../../assets/style/commonStyle';

.banner {
    height: 8.775rem;
    background-color: #d0e0f1;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    border-bottom: 0.5rem solid #a2c1e4;

    &__wrapper {
      max-width: 1344px;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem;
      border-bottom: none;
      justify-content: space-between;

      @media (min-width: 1024px) {
        padding: 0.75rem 3rem;
      }

      @media (min-width: 1440px) {
        padding: 0.75rem 0;
      }
    }

    &__tekst {
        display: flex;
        align-items: center;
    }

    &__image {
        height: calc(100% - 8px);
    }

    &__bunnlinje {
        background-color: #a2c1e4;
        min-height: 0.5rem;
        width: 100%;
        z-index: 100;
    }

    @media (min-width: @mobilbreakpoint) {
        height: 12.3125rem;
    }
}
